.link {
    color:crimson;
}

.header {
    padding: 1rem 0 3rem;
}

.title {
    color: black;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: rgb(179, 179, 179);
    font-size: 1.3rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: rgb(104, 100, 100);
}

.active-nav-item {
    color:rgb(58, 57, 57);
}